build/
cross/
gapps*
kernel/samsung-kernel-aries/
kernel/osarmod-cm-kernel/
kernel/bootimg/system/lib/modules/*
kernel/bootimg/boot.img
kernel/helper-files/ramdisk-recovery.img
kernel/helper-files/ramdisk-recovery/
kernel/helper-files/ramdisk.img
kernel/helper-files/ramdisk/
kernel/helper-files/logo/logo_rgb24_wvga_portrait.h
kernel/darkcore/
kernel/motorola-kernel-defy/
kernel/xoom-debian/
system_gb/
system_aosp_ics/
system_ics/
toolchain/
VERSION_*
xoom/
osarmod/wingray_bootimg/out*
osarmod/wingray_bootimg/*.img
osarmod/files/GIT_LOG*
osarmod/files/GIT_KLOG*
osarmod/CHANGELOG*
